{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>

{{/each}}

<div class="card">
    <div class="cad-body">
        <h1>Registro</h1>
        <form action="" method="post">
            <label for="nome" class="mt-4">Nome</label>
            <input type="text" name="nome" class="form-control" id="nome" required>
            <label for="email" class="mt-4">Email</label>
            <input type="email" name="email" id="email" class="form-control" required>
            <label for="senha" class="mt-4">Senha</label>
            <input type="password" name="senha" class="form-control" id="senha" required>
            <label for="senha" class="mt-4">Repita sua senha</label>
            <input type="password" name="senha2" class="form-control" id="senha2" required>
            <button type="submit" class="btn btn-success mt-4">Criar Conta</button>
        </form>
    </div>
</div>